/* HEADER */
html{
	background-color: grey;
	font-family: 'Calibri';
}

header {
	background-color: lightblue;  
	

}

header h1 {
	text-align: center;
	width: 100%;
}

/* MENU*/

nav  {
	width: 100%;
	position: absolute;
	z-index:2;
	margin-top: -1.4%;
	align-content: center;
}

#menu ul {
	display:flex;   /* Opcions en horitzontal */
	list-style: none;   /* Sense vinyeta */
	font-family: calibri;
	margin: 0;
	background-color: white;
	border: 1px solid white;
	text-align: center;
	align-content: center;
}

#menu li:hover {
	background-color: chartreuse;
}
#menu a {
	display: flex;
	width: 100%;
	padding: 10px 20px;
	text-decoration: none;
	color: black;
	text-align: center;
	align-content: center;
	justify-content: center;
	padding-right: 5%;
}

#menu a:hover {
	
	color:#000; 
}	

#menu ul li ul {
	display: none;
	opacity: 0.9;
	text-align: center;
	align-content: center;
}

#menu ul li a:hover + ul, #menu ul li ul:hover {
	display: block;
}

#menu li {
	margin-left: 12%;
	display: block;
	align-content: center;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
    
    input{
      width: 30%;
    }
    
    .entradas{
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 10%;
      width: 40%;
    }
    .botonentrada{
      width: auto;
    }
    
    .desplegableentrada,input { 
      width: 50%; 
        margin-bottom: 10px; 
      border: none;
      margin-left: 45%;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: black;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: solid black;
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
    }
    
    .disposicionentrada{
      display: flex;
    }
    
    .comprar{
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 10%;
      width: 30%;
      height:40%;
    }
    
    .desplegablecomprar{
      width: 50%; 
        margin-bottom: 10px; 
      border: none;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: black;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: solid black;
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
    }
    
    .comprarboton{
      width: 50%;
      color: #adad85;
      background-color: black;
      padding: 2%;
      margin-top: 30px;
      margin-left: 28%;
      margin-bottom: 30px;
    
    
    }